<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <title>Confirmation Page </title>
        <style>
        body{
    background-color: lavender;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content {
    width: relative;    
    margin: 30px;
    background: white;
    padding: 30px;
    border-radius: 25px;

}     
        th, td{
            
            height: 20px;
            width: 20px;
        }
        table{
            border:1px solid black;
        }
        #picture{
            margin: 0;
        }
        p#hi{
            background-color: aqua;
            position:sticky;
            float: left;}            
    
        th.number {
            padding: 18px;
        }
        table{
            float: left;

        }
        .table_on_the_left{
            padding: 15px;
        }
        </style>

</head>

<body>

    <div class="content">
        <h1>Confirmation Page</h1>
    <a>Pick the color you would like to search for products with:</a><br>
 
    <div class="content">
            <table id="picture" class="original_image">
                    <tr><th colspan="5">Original Image</th>
                    </tr>
                     <tr>
                        <th><img src="{{ url_for('static', filename=filename)}}" width="100px" padding="20px"> </th>
                    </tr>
                     </table>
            
    </div>
        <br><br><br><br>

    <div class="content">
       <table class="table_on_the_left">
            <tr><th colspan="5">Colour Map</th></tr>
            <tr>
                <td style = 'background-color:rgb({{r[0]}},{{g[0]}}, {{b[0]}})' class="table_on_the_left">1</td>
                <td style = 'background-color:rgb({{r[1]}},{{g[1]}}, {{b[1]}})' class="table_on_the_left">2</td>
                <td style = 'background-color:rgb({{r[2]}},{{g[2]}}, {{b[2]}})' class="table_on_the_left">3</td>
                <td style = 'background-color:rgb({{r[3]}},{{g[3]}}, {{b[3]}})'class="table_on_the_left">4</td>
                <td style = 'background-color:rgb({{r[4]}},{{g[4]}}, {{b[4]}})'class="table_on_the_left">5</td>
            </tr>
            <tr>
                <td style = 'background-color:rgb({{r[5]}},{{g[5]}}, {{b[5]}})' class="table_on_the_left">6</td>
                <td style = 'background-color:rgb({{r[6]}},{{g[6]}}, {{b[6]}})' class="table_on_the_left">7</td>
                <td style = 'background-color:rgb({{r[7]}},{{g[7]}}, {{b[7]}})' class="table_on_the_left">8</td>
                <td style = 'background-color:rgb({{r[8]}},{{g[8]}}, {{b[8]}})' class="table_on_the_left">9</td>
                <td style = 'background-color:rgb({{r[9]}},{{g[9]}}, {{b[9]}})' class="table_on_the_left">10</td>
            </tr>
            <tr>
                <td style = 'background-color:rgb({{r[10]}},{{g[10]}}, {{b[10]}})' class="table_on_the_left">11</td>
                <td style = 'background-color:rgb({{r[11]}},{{g[11]}}, {{b[11]}})'class="table_on_the_left">12</td>
                <td style = 'background-color:rgb({{r[12]}},{{g[12]}}, {{b[12]}})'class="table_on_the_left">13</td>
                <td style = 'background-color:rgb({{r[13]}},{{g[13]}}, {{b[13]}})'class="table_on_the_left">14</td>
                <td style = 'background-color:rgb({{r[14]}},{{g[14]}}, {{b[14]}})'class="table_on_the_left">15</td>
            </tr>
            <tr>
                <td style = 'background-color:rgb({{r[15]}},{{g[15]}}, {{b[15]}})'class="table_on_the_left">16</td>
                <td style = 'background-color:rgb({{r[16]}},{{g[16]}}, {{b[16]}})'class="table_on_the_left">17</td>
                <td style = 'background-color:rgb({{r[17]}},{{g[17]}}, {{b[17]}})'class="table_on_the_left">18</td>
                <td style = 'background-color:rgb({{r[18]}},{{g[18]}}, {{b[18]}})'class="table_on_the_left">19</td>
                <td style = 'background-color:rgb({{r[19]}},{{g[19]}}, {{b[19]}})'class="table_on_the_left">20</td>
            </tr>
            <tr>
                <td style = 'background-color:rgb({{r[20]}},{{g[20]}}, {{b[20]}})'class="table_on_the_left">21</td>
                <td style = 'background-color:rgb({{r[21]}},{{g[21]}}, {{b[21]}})'class="table_on_the_left">22</td>
                <td style = 'background-color:rgb({{r[22]}},{{g[22]}}, {{b[22]}})'class="table_on_the_left">23</td>
                <td style = 'background-color:rgb({{r[23]}},{{g[23]}}, {{b[23]}})'class="table_on_the_left">24</td>
                <td style = 'background-color:rgb({{r[24]}},{{g[24]}}, {{b[24]}})'class="table_on_the_left">25</td>
            </tr>
        </table>
</div>
<br><br><br><br><br><br><br><br><br>

<div class="content">
<p><form method="POST" name=numbers>
    <select name=numbers>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>

    </select>
    <input type="submit" value="See my results"></a>
  </form>
</p></div>
</body>

</html>