<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <title>Confirmation Page </title>
        <style>
        table, th, td{
            border:1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
        }
        </style>

</head>

<body>
        <h1>Confirmation Page</h1>
    <a>This is where our 5x5 grid shows up, and the user picks which color they want</a><br>
    <a>Shows the original input picture, and a colormap 5x5 table, and a reference table next to it with numbers </a><br>
    <a></a>under it have a drop down box with number 1-25 + a submit button</a><br>
    <table style="float: left;">
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </table>
    
    
    
    <table style="float: left;">
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
        </tr>
        <tr>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
        </tr>
        <tr>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
        </tr>
        <tr>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
        </tr>
        <tr>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
        </tr>
    </table>
    
   <a href ="{{ url_for('results') }}">See my results button</a>


</body>

</html>