<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <title>Confirmation Page </title>
        <style>
        table, th, td{
            border:px solid black;
            border-collapse: collapse;
            height: 50px;
            width: 50px;
        }
        #picture{
            margin: 0;
        }
        p#hi{
            background-color: aqua;
            position:sticky;
            float: left;}            
    
        th.number {
            padding: 18px;
        }
        table{
            float: left;

        }

        </style>

</head>

<body>
        <h1>Confirmation Page</h1>
    <a>This is where our 5x5 grid shows up, and the user picks which color they want</a><br>
    <a>Shows the original input picture, and a colormap 5x5 table, and a reference table next to it with numbers </a><br>
    <a></a>under it have a drop down b1-25 + a submit button</a><br>
 
    <div>
    <table id="picture" class="table_on_the_left">
            <tr><th colspan="5">Colour Map</th></tr>
            <tr>
                <td style = 'color:rgb({{r1}},255, 255)' width="50px"></td>
                <td style = 'color:rgb({{r2}},255, 255)' width="50px"></td>
                <td style = 'color:rgb({{r3}},255, 255)' width="50px"></td>
                <td style = 'color:rgb({{r4}},255, 255)' width="50px"></td>
                <td style = 'color:rgb(255,255,255)' width="50px"></td>
                <!-- <td><img src="2.jpg" width="50px"> </td>
                <td><img src="3.jpg" width="50px"> </td>
                <th><img src="4.jpg" width="50px"> </th>
                <th> <img src="5.jpg" width="50px"></th> -->
            </tr>
            <tr>
                <th><img src="6.jpg" width="50px"> </th>
                <th><img src="7.jpg" width="50px"> </th>
                <th><img src="8.jpg" width="50px"> </th>
                <th><img src="9.jpg" width="50px"> </th>
                <th><img src="10.jpg" width="50px"> </th>
            </tr>
            <tr>
                <th><img src="11.jpg" width="50px"> </th>
                <th><img src="12.jpg" width="50px"> </th>
                <th><img src="13.jpg" width="50px"> </th>
                <th><img src="14.jpg" width="50px"> </th>
                <th><img src="15.jpg" width="50px"> </th>
            </tr>
            <tr>
                <th><img src="16.jpg" width="50px"> </th>
                <th><img src="17.jpg" width="50px"> </th>
                <th><img src="18.jpg" width="50px"> </th>
                <th><img src="19.jpg" width="50px"> </th>
                <th><img src="20.jpg" width="50px"> </th>
            </tr>
            <tr>
                <th><img src="21.jpg" width="50px"> </th>
                <th><img src="22.jpg" width="50px"> </th>
                <th><img src="23.jpg" width="50px"> </th>
                <th><img src="24.jpg" width="50px"> </th>
                <th><img src="25.jpg" width="50px"> </th>
            </tr>
        </table>

    <table id="table_on_the_right">
        <tr><th colspan="5">Reference</th></tr>
        <tr>
            <th class="number">1</th>
            <th class="number">2</th>
            <th class="number">3</th>
            <th class="number">4</th>
            <th class="number">5</th>
        </tr>
        <tr>
            <th class="number">6</th>
            <th class="number">7</th>
            <th class="number">8</th>
            <th class="number">9</th>
            <th class="number">50</th>
        </tr>
        <tr>
            <th class="number">11</th>
            <th class="number">12</th>
            <th class="number">13</th>
            <th class="number">14</th>
            <th class="number">15</th>
        </tr>
        <tr>
            <th class="number">16</th>
            <th class="number">17</th>
            <th class="number">18</th>
            <th class="number">19</th>
            <th class="number">20</th>
        </tr>
        <tr>
            <th class="number">21</th>
            <th class="number">22</th>
            <th class="number">23</th>
            <th class="number">24</th>
            <th class="number">25</th>
        </tr>
    </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br><br><br><br><br><br>
<form action="/action_page.php">
    <select name="numbers">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>

    </select>
    <br><br>
    <input type="submit" a href ="{{ url_for('results') }}" value="See my results"></a>
  </form>
<!-- <p id="hi">
        <a href ="{{ url_for('results') }}">See my results button</a>
</p> -->

</body>

</html>